{% extends "layout.html" %}

{% block body %}


    <div class="list-group">
        <a href="{{url_for('public')}}" class="list-group-item active">
            <h4 class="list-group-tiem-heading">
                {{message.title}}
            </h4>
        </a>
        <a href="{{url_for('public')}}" class="list-group-item">
            <h4 class="list-group-tiem-heading">
                {{message.content}}
            </h4>
            <p class="list-group-item-text">
                {{message.time|timeformat}} {{ message.username}}
            </p>
        </a>
    </div>

{% endblock %}
